$headerZIndex: 100;
$tabbarZIndex: 100;
$childZIndex: 102;
$maskZIndex: 9998;
$modalZIndex: 200;



$footerColor: #929192;
$footerActive: #F23030;
$themeColor: #BD081C;
$money: #FAA12F;
$homeColor: #84C5FD;
